.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
  height: 100%;
  scrollbar-width: none;
  overflow-y: scroll;
}

.list li {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 3rem;
  gap: 2rem;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 1rem;
}

.list li:hover {
  background-color: rgba(47, 47, 47, 0.17)
}

.list li.active {
  background-color: rgba(47, 47, 47, 0.17)
}

.list span:first-child {
  display: inline-block;
  font-size: 2.4rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: red;
  color: white;
  display: grid;
  place-content: center;
}

.list span:last-child {
  flex-grow: 1;
  font-size: 2.4rem;
}