.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, .5);
  display: grid;
  place-content: center;
  z-index: 100;
}

.content {
  background-color: var(--color-white);
  color: var(--color-dark);
  width: 50rem;
  padding: 2rem;
  position: relative;
  border-radius: 5px;
}

.btnClose {
  background: none;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  cursor: pointer;
  transition: all .2s ease-in;
  opacity: .5;
}

.btnClose:hover {
  opacity: 1;
}


@media (max-width:50em) {
  .content {
    width: 100%;
  }
}