.sidebar {
  flex-basis: 25%;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  position: relative;
}

.header {
  padding: 2rem 3rem;
}

.header h1 {
  font-size: 3.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
  height: 100%;
  scrollbar-width: none;
  overflow-y: scroll;
}

.list li {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 3rem;
  gap: 2rem;
  font-size: 2rem;
}

.list span:first-child {
  display: inline-block;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  background-color: red;
  color: white;
  display: grid;
  place-content: center;
}

.list span:last-child {
  flex-grow: 1;
}

.btnAdd {
  background: none;
  border: none;
  background-color: var(--color-accent-dark);
  color: var(--color-white);
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  font-size: 4rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.btnAdd:hover {
  transform: translateY(-1px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
}

.btnAdd:active {
  transform: translateY(0);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}