.sidebar {
  flex-basis: 25%;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}



.header {
  padding: 2rem 3rem;
}

.header h2 {
  font-size: 3.5rem;
}

.btnAdd {
  background: none;
  border: none;
  background-color: var(--color-accent-dark);
  color: var(--color-white);
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  font-size: 4rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.btnAdd:hover {
  transform: translateY(-1px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
}

.btnAdd:active {
  transform: translateY(0);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

@media (max-width: 50em) {
  .sidebar {
    flex-basis: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: 100;
  }

  .sidebar.hidden {
    display: none;
  }

  .sidebar.visible {
    display: block;
  }
}