@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-accent-light: #DAE5F5;
  --color-accent-dark: #322289;
  --color-accent-dark-2: #001F8B;
  --color-white: #fff;
  --color-dark: #000;

  --color-gray: #2F2F2F;

  --font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  background-color: #333;
  padding: 1rem;
}

.app {
  display: flex;
  height: calc(100dvh - 2rem);
  min-width: 130rem;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  color: var(--color-dark);
}

@media (max-width: 50em) {
  .app {
    width: 100%;
  }
}